
.Files {
    list-style-type: none;
    padding: 0px;
    margin-left: 250px;
}

.File {
    color: @--color-black20;
    font-size: 19px;
    line-height: 32px;

    &:hover {
        cursor: pointer;
    }
}

.File-isDirectory {
    color: @--color-cyan;
}
