
.Status {
    box-sizing: border-box;
    height: 40px;
    font-size: 11px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid @--color-white40;
    background: @--color-white30;
}
